# NPM registry for @furkankoykiran scope
@furkankoykiran:registry=https://registry.npmjs.org/

# Save exact versions
save-exact=true

# Install development dependencies
save-dev=true

# Use package-lock.json
package-lock=true
